:root {
  --font-family-menu: "Rubik";
  --font-size-menu: 15px;
  --font-family-s-t: "Rubik";
  --font-size-s-t: 24px;
  --font-family-f-d: "Rubik";
  --font-size-f-d: 22px;
  --font-family-names: "Opens Sans";
  --font-size-names: 20px;
  --font-family-parrafos: "Opens Sans";
  --font-size-parrafos: 16px;
}

:root {
  --team-name-text: #ffff;
  --team-background: #099D8D;
  --menu-text: #14D9C4;
  --menu-background: #FFFFFF;
  --solgan-text: #000000;
  --solgan-background: white;
  --strengths-title: aqua;
  --strengths-descriptions:#54585A;
  --strengths-background: white;
  --about-us-names-text:#000000;
  --about-us-background:white;
  --about-us-descriptions:#54585A;
  --about-us-icons-networks: #14D9C4;
  --abot-us-boxes-text: #B8B8B9;
  --about-us-border-box: #B8B8B9;
  --footer-copy-right-test: #B8B8B9;
  --footer-list-text: #54585A;
  --footer-background: white;
}

* {
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  width: 320px;
  height: 60px;
  opacity: 0.95;
  margin-bottom: 20px;
}

h1 {
  width: 160px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
}

nav {
  background-color: blue;
  display: flex;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

/* NO TOCAR */
.menu {
  display: flex;
  align-items: center;
  background-color: aqua;
  width: 320px;
  height: 40px;
  list-style-type: none;
  justify-content: space-evenly;
  color: white;
}
/* NO TOCAR */

a {
  color: white;
  text-decoration: none;
}

/*PARTE DEL LEMA*/

.slogan {
  background-image: url(https://image.freepik.com/vector-gratis/ilustracion-colorida-mujer-programadora-haciendo-su-trabajo_23-2148270747.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 326px;
  display: flex;
  align-items: flex-end;
}

.slogan-text {
  background-color: white;
  font-weight: bold;
  font-family: "OpenSans";
  font-size: 18px;
  width: 260px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

/* EQUIPO + FORTALEZAS Y DEBILIDADES */

.team-section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 504px;
  padding: 30px 15px;
  background-color: #fff;
  color:var(--font-opens-sans-color);
  line-height: 24px;
}

.team-section-text {
  width: 290px;
  height: 384px;
}

.team-section-title {
  color: var(--menu-color);
}

.s-w-section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 579px;
  padding: 30px 15px 45px;
  background-color: #b8b8b9;
  color: var(--font-opens-sans-color);
  line-height: 24px;
}

.s-w-section-text {
  width: 290px;
  height: 192px;
}

.s-w-section-title {
  color: var(--head-color);

  /* QUIÉNES SOMOS */

  .about-us {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 30px 15px;
  background-color: var(--about-us-background);  
  color: var(--about-us-descriptions)
  line-height: 24px;
}


 .names {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 30px 15px;
  background-color: white;
  color: var(--about-us-names-text);
  line-height: 24px;
}

.about-us-desc {
color: var(--about-us-descriptions);

.social-networks {
  display: inline;
  background-color: var(--about-us-background);
  text-decoration: none;
}

   




/* FOOTER */

.footer {
  background-color: #fff;
  width: 320px;
  height:20px;
  margin-left: 74px;
  margin-right: 74px;
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "OpenSans";
  font-size: 14px;
}

.footer-nav {
  width: 320px;
  height: 70px;
  background-color: #fff;
}

.footer-list {
  list-style-type: none;
  padding-top: 20px;
  background-color: #fff;
  font-family: "OpenSans";
  font-size: 14px;
  color: #54585a;
}
.footer-list a {
  color: #54585a;
}





