:root {
  --font-family-menu: "Rubik";
  --font-size-menu: 15px;
  --font-family-s-t: "Rubik";
  --font-size-s-t: 24px;
  --font-family-f-d: "Rubik";
  --font-size-f-d: 22px;
  --font-family-names: "Opens Sans";
  --font-size-names: 20px;
  --font-family-parrafos: "Opens Sans"
  --font-size-parrafos: 16px
}

:root {
  --background-color: #ffff; 
  --head-color: #099d8d;
  --menu-color: #14d9c4;
  --font-opens-sans-color: #54585a;
  --font-opens-sans-color-CL: #54585a;
  --font-rubik-medium-color-: #ffffff;
  --font-rubik-medium-CL-color-: #099d8d;
}

* {
  font-family: 'Rubik', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  width: 320px;
  height: 60px;
  opacity: 0.95;
  margin-bottom: 20px;
}

h1 {
  width: 160px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
}

nav {
  background-color: blue;
  display: flex;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

/* NO TOCAR */
.menu {
  display: flex;
  align-items: center;
  background-color: aqua;
  width: 320px;
  height: 40px;
  list-style-type: none;
  justify-content: space-evenly;
  color: white;
}
/* NO TOCAR */

a {
  color: white;
  text-decoration: none;
}

/*PARTE DEL LEMA*/

.slogan {
  background-image: url(https://image.freepik.com/vector-gratis/ilustracion-colorida-mujer-programadora-haciendo-su-trabajo_23-2148270747.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 320px;
  height: 326px;  
  display: flex;
  align-items: flex-end;
}

.slogan-text {
  background-color: white;
  font-weight: bold;
  font-family: "OpenSans";
  font-size: 18px;
  width: 260px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}


/* PARTE DE EQUIPO */

#team-section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 30px 15px;
  background-color: #fff;
  color: #54585a;
  line-height: 24px;
}

.section-title-team {
  color: #14d9c4;
}

.strengths-section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  padding: 30px 15px;
  background-color: #b8b8b9;
  color: #54585a;
  line-height: 24px;
}

.section-title f-d {
  color: #099d8d;
}



/* FOOTER */

.footer {
  background-color:#fff;
  width: 320px;
  height: 20px;
  margin-left: 74;
  margin-right: 74;
  padding-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "OpenSans";
  font-size: 14px;  
}

.footer-nav{
    width: 320px;
    height: 70px;
    background-color: #fff;
}

.footer-list{
    list-style-type: none;
    padding-top: 20px;
    background-color:#fff;
    font-family: "OpenSans";
    font-size: 14px;
    color: #54585a;

}
.footer-list a {
  color: #54585a;
}

