<section>
    <article class="article">
        <img  class="article__images" src="@@imgSrc" alt="@@alt">
        <h3 class="article__name">@@name</h3>
        <p class="article__aboutus">@@description</p>
    </article>

    <div class="social">
        <ul class="social__list">
            <li>
                <a class="social__list--links" target="_blank" href="@@twitterSrc"><i
                        class="fab fa-twitter"></i></a>
            </li>
            <span class="text-style-1">·</span>
            <li>
                <a class="social__list--links" target="_blank" href="@@linkedinSrc"><i
                        class="fab fa-linkedin-in"></i></a>
            </li>
            <span class="text-style-1">·</span>
            <li>
                <a class="social__list--links" target="_blank" href="@@githubSrc"><i
                        class="fab fa-github-alt"></i></a>
            </li>
            <span class="text-style-1">·</span>

            <li>
                <a class="social__list--links" target="_blank"
                    href="@@mailSrc"><i
                        class="fas fa-envelope"></i></a>
            </li>
        </ul>
    </div>

</section>



   


    <!-- SILVIA
    <section>
        <article>
            <img class="images" src="./assets/images/silvia.jpg" alt="Silvia">
            <h3 class="names">Silvia</h3>
            <p class="about-us-desc">Nacida en Madrid, estudió Antropología Social y Cultural para luego
                especializarse en Estudios de
                Género y Cooperación al desarrollo. Durante su trabajo como investigadora en un proyecto de I+D+i,
                conoció el mundo de la programación. Actualmente forma parte de la generación O de Adalab para
                llegar a ser una estupenda full stack developer.</p>
        </article>

        <! redes sociales de Silvia -->


        <!-- <div class="social">
            <ul class="social-list">
                <li>
                    <a class="social-links" target="_blank"
                        href="https://www.linkedin.com/in/silvia-d%C3%ADaz-molina-52213010b/"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <span class="text-style-1">·</span>
                <li>
                    <a class="social-links" target="_blank" href="https://github.com/SilviaDimol"><i
                            class="fab fa-github-alt"></i></a>
                </li>

            </ul>
        </div>

    </section>

    
    <section>
        <article>
            <img class="images" src="./assets/images/marta.jpg" alt="Marta">
            <h3 class="names">Marta</h3>
            <p class="about-us-desc">Manchega de nacimiento y madrileña de corazón, Marta ejerció toda su vida
                profesional como técnica de proyecto.
                Al no sentirse identificada con el entorno profesional, sumado a la inestabilidad laboral de su
                sector,
                decidió emprender esta nueva aventura como adalaber.</p>
        </article>

        <! redes sociales de Marta -->
<!-- 
        <div class="social">
            <ul class="social-list">
                <li>
                    <a class="social-links" target="_blank" href="http://www.github.com/poncegui"><i
                            class="fab fa-github-alt"></i></a>
                </li>
                <span class="text-style-1">·</span>
                <li>
                    <a class="social-links" target="_blank"
                        href="mailto:marta.ponceg@gmail.com?Subject=Hola%20Marta"><i
                            class="fas fa-envelope"></i></a>
                </li>

            </ul>
        </div>

    </section>
</section>  --> 