<footer class="footer">
  <section class="footer-copy">
      Nombre del grupo &copy; 2021
  </section>
  <nav class="footNav">
      <ul class="footNav__list">
          <li class="footNav__list--team"><a href="#team-section">Equipo </a></li>
          <li class="footNav__list--us"><a href="#about-us"> Quiénes Somos </a></li>
          <li class="footNav__list--contact"><a href="./contact.html">Contacto</a></li>
      </ul>
  </nav>
  <section class="footer-logo">
      <img src="./assets/images/logo-adalab.png" alt="Logo Adalab">
  </section>
</footer>

