<footer class="footer">
  <section class="footer-copy">
      Nombre del grupo &copy; 2021
  </section>
  <nav class="footer-nav">
      <ul class="footer-list">
          <li class="team"><a href="#team-section">Equipo </a></li>
          <li class="us"><a href="#about-us"> Quiénes Somos </a></li>
          <li class="contact"><a href="./contact.html">Contacto</a></li>
      </ul>
  </nav>
  <section class="footer-logo">
      <img src="./img/logo.jpeg" alt="Logo Adalab">
  </section>
</footer>

