<footer class="footer">
  <section class="footer__copy">
      Descodigadas &copy; 2021
  </section>
  <nav>
      <ul class="list">
          <li class="list__team"><a href="#team-section">Equipo </a></li>
          <li class="list__us"><a href="#about-us"> Quiénes Somos </a></li>
          <li class="list__contact"><a href="./contact.html">Contacto</a></li>
      </ul>
  </nav>
  <section class="footer__logo">
      <img class src="./assets/images/logo-adalab.png" alt="Logo Adalab">
  </section>
</footer>

