<main class="main">


    <div class="hero">
        <section class="slogan">
            <!--La vida no es un problema a ser resuelto, es una realidad a experimentar-->

        </section>

        <div class="slogan__container">
            <p class="slogan__container--text"> El punto de salida hacia todo logro es el deseo.</p>
        </div>

    </div>


    <!-- 2º rectángulo, team -->
    <section class="team__section" id="team-section">
        <h2 class="team__section--title">EQUIPO</h2>
        <article class="team__section--text">

            <p class="about-us-desc">Arriesgarse es perder momentánemente el equilibrio. No arriesgarse es perderse a
                uno misma.</p>

            <p class="about-us-desc">En (nombre del equipo), nos hemos "arriesgado" a empezar este curso desde cero,
                creyendo en nosotras
                y en nuestra capacidad de aprendizaje. Estamos aquí para dar lo mejor de nosotras y conseguir
                nuestro objetivo.
                Apostamos por Adalab en este nuevo camino que vamos a recorrer juntas.</p>

        </article>
    </section>

    <div id="square"></div>

    <!-- 3º rectángulo, strengths and weaknesses -->

    <section class="s-w__section">
        <article>
            <h2 class="s-w__section--title">Fortalezas</h2>

            <p class="s-w__section--text">En (nombre) las fortalezas que más nos definen son la perseverancia,
                constancia y la resiliencia. Somos capaces de superarnos y de generar respuestas o soluciones
                alternativas a los problemas a los que nos enfrentamos.</p>

            <h2 class="s-w__section--title">Debilidades </h2>
            <p class="s-w__section--text">Las debilidades que tenemos en común son la impaciencia y el exceso
                de perfeccionismo.Queremos que todo salga bien y perfectoy eso puede llevar a la frustación, ya que
                no todo sale como nos gusta a todos.</p>
        </article>
    </section>


    <!-- 4º QUIÉNES SOMOS -->
    <section class="team-section" id="about-us">

        <h2 class="team-section-title about-us">QUIÉNES SOMOS</h2>

        <include src="./partials/about-us.html" img="" name="" description=></include>

</main>