.slogan__contact {
    background-image: url(https://images.pexels.com/photos/7821577/pexels-photo-7821577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: 300px;
  }
  

.formulario{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
    height: 30vh;
    
    /*
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 97.5px;
    padding-right: 95.5px;
    */
}

@mixin pepino{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_title{
    grid-column: 1/7;
    grid-row: 1;
    text-align: center;
    @include pepino();

}

.form_text{
    grid-column: 1/7;
    grid-row: 2;
    @include pepino();
}

.aviso{
    grid-column: 1/7;
    grid-row: 3;
}

.form_form{
    grid-column: 1/6;
      grid-row: 4;
      @include pepino();
}