@import "core/variables";
@import "core/reset";
// @import 'components/code';
// @import 'components/links';
@import "layout/page";
@import "layout/header";
@import "layout/footer";
@import "layout/slogan";
// @import 'pages/index';

/* EQUIPO + FORTALEZAS Y DEBILIDADES */

.team-section-title.about-us {
  margin-top: 30px;
}

#square {
  width: 29.9px;
  height: 30px;
  background-color: #fff;
  margin-bottom: -15px;
  transform: rotate(45deg);
}

.s-w-section-text {
  height: 192px;
  font-family: var(--font-family-parrafos);
}

/* QUIÉNES SOMOS */

/* Se usan las propiedades del contenedor TEAM-SECTION */

.names {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 30px 25px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  color: var(--about-us-names-text);
  line-height: 24px;
  font-family: var(--font-family-names);
  font-size: 20px;
}

.about-us-desc {
  font-family: var(--font-family-parrafos);
  color: var(--about-us-descriptions);
}
.images {
  border: rgba(117, 112, 112, 0.178) 5px solid;
  border-radius: 5%;
  margin-top: 30px;
  height: 180px;
  width: 180px;
}

/* REDES SOCIALES */

.social {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}

.social-list {
  list-style-type: none;
  display: flex;
}

.social-links {
  margin: 20px;
}

.fa-twitter {
  height: 30px;
  background-color: var(--about-us-background);
  color: var(--about-us-icons-networks);
}

.fa-twitter:hover {
  color: var(--team-background);
}

.fa-envelope {
  height: 30px;
  background-color: var(--about-us-background);
  color: var(--about-us-icons-networks);
}

.fa-envelope:hover {
  color: var(--team-background);
}

.fa-linkedin-in {
  height: 30px;
  background-color: var(--about-us-background);
  color: var(--about-us-icons-networks);
}

.fa-linkedin-in:hover {
  color: var(--team-background);
}

.fa-github-alt {
  height: 30px;
  background-color: var(--about-us-background);
  color: var(--about-us-icons-networks);
}

.fa-github-alt:hover {
  color: var(--team-background);
}

/* FOOTER */

/*medias queris*/
@media all and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    color: #099d8d;
    justify-content: space-between;
  }
}
